<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ADMIN_BoardMapper">
	<insert id="board_Create" parameterType="ADMIN_BoardDTO">
		INSERT INTO BOARD
		(
			BOARD_SEQ,
			BOARD_NAME,
			BOARD_READ,
			BOARD_WRITE,
			BOARD_REPLE,
			REG_DATE,
			EXP_YN
		)
		VALUES
		(
			<!-- 시퀀스 자리 -->
			BOARD_SEQ.NEXTVAL,
			#{board_name},
			#{board_read},
			#{board_write},
			#{board_reple},
			#{reg_date},
			#{exp_yn}
		)
	</insert>
	
	<select id="getBoard_List" resultType="ADMIN_BoardDTO">
		SELECT BOARD_SEQ, BOARD_NAME, BOARD_READ, BOARD_WRITE, BOARD_REPLE, REG_DATE, EXP_YN FROM BOARD
	</select>
	
	<select id="getBoard_Search" parameterType="map" resultType="ADMIN_BoardDTO">
		SELECT BOARD_SEQ, BOARD_NAME, BOARD_READ, BOARD_WRITE, BOARD_REPLE, REG_DATE, EXP_YN FROM BOARD WHERE ${option} LIKE '%'||#{value}||'%'
	</select>
	
	<select id="getBoard_Detail" parameterType="integer" resultType="ADMIN_BoardDTO">
		SELECT BOARD_SEQ, BOARD_NAME, BOARD_READ, BOARD_WRITE, BOARD_REPLE, REG_DATE, EXP_YN FROM BOARD WHERE BOARD_SEQ=#{board_seq}
	</select>
	
	<update id="board_Edit" parameterType="ADMIN_BoardDTO" >
			UPDATE BOARD SET
				BOARD_NAME=#{board_name},
				BOARD_READ=#{board_read},
				BOARD_WRITE=#{board_write},
				BOARD_REPLE=#{board_reple},
				EXP_YN=#{exp_yn}
				WHERE BOARD_SEQ=#{board_seq}
	</update>
	
	<update id="board_Exp_yn" parameterType="integer">
			UPDATE BOARD SET
				EXP_YN=EXP_YN*-1
				WHERE BOARD_SEQ=#{board_seq}
	</update>
	
	<delete id="board_Delete" parameterType="integer" >
		DELETE FROM BOARD WHERE BOARD_SEQ=#{board_seq}
	</delete>
</mapper>