<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ADMIN_Coupon_IssueMapper">
	<select id="getCoupon_Issue_List" resultType="ADMIN_Coupon_IssueDTO">
		SELECT 
			ISSUE_CODE,
			USER_SEQ,
			COUPON_CODE,
			COUPON_COUNT,
			COUPON_ISSUEDATE,
			COUPON_USE
		FROM COUPON_ISSUE
		ORDER BY ISSUE_CODE DESC
	</select>
	
	<insert id="Coupon_Issue" parameterType="ADMIN_Coupon_IssueDTO">
		INSERT INTO COUPON_ISSUE
		(
			ISSUE_CODE,
			USER_SEQ,
			COUPON_CODE,
			COUPON_COUNT,
			COUPON_ISSUEDATE,
			COUPON_USE
		)
		VALUES
		(
			ISSUE_SEQ.NEXTVAL,
			#{user_seq},
			#{coupon_code},
			#{coupon_count},
			#{coupon_issuedate},
		    #{coupon_use}
		)
	</insert>
	
	<update id="Coupon_Count" parameterType="ADMIN_Coupon_IssueDTO">
		UPDATE COUPON_ISSUE SET
			COUPON_COUNT = #{coupon_count}
		WHERE ISSUE_CODE=#{issue_code}
	</update>
	
	<delete id="Coupon_Issue_delete" parameterType="integer">
		DELETE FROM COUPON_ISSUE WHERE ISSUE_CODE=#{issue_code}
	</delete>
	
	<select id="getCoupon_Issue_Search_List" parameterType="map" resultType="ADMIN_Coupon_IssueDTO">
		SELECT 
			ISSUE_CODE,
			USER_SEQ,
			COUPON_CODE,
			COUPON_COUNT,
			COUPON_ISSUEDATE,
			COUPON_USE
		FROM COUPON_ISSUE WHERE ${option} LIKE '%'||#{value}||'%'
	</select>
</mapper>