<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.CONSUMER_CouponMapper">
	
			<!-- DTO 변수 이름으로 등록  -->
	<select	id="couponList" parameterType="string" resultType="CONSUMER_CouponIssueDTO">
		SELECT COUPON.COUPON_CODE AS coupon_code,
			USER_SEQ AS userSeq,
			COUPON_NAME AS coupon_name,
			COUPON_OPTION AS coupon_option,
			COUPON_COUNT AS coupon_count,
			COUPON_ISSUEDATE AS coupon_issuedate
		FROM COUPON,COUPON_ISSUE
		WHERE COUPON.COUPON_CODE = COUPON_ISSUE.COUPON_CODE AND COUPON_ISSUE.USER_SEQ=#{userSeq} 
	
	</select>
	

</mapper>