<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.CONSUMER_MypageMapper">
	
	<!-- DTO 변수 이름으로 등록  -->
	
	<!-- 마이페이지 회원 상세보기  -->
	<select id="getUserDetail" parameterType="CONSUMER_UserDTO" resultType="CONSUMER_UserDTO">
			SELECT USER_SEQ as userSeq,
					USER_EMAIL as userEmail,
					USER_PWD as userPwd,
					USER_NICK as userNick,
					USER_GENDER as userGender,
					USER_HP as userHp
			FROM	USER_INFO
			WHERE USER_SEQ = #{userSeq}
	
	</select>
	
	<!-- 내 쿠폰목록 -->
	<select	id="couponList" parameterType="string" resultType="CONSUMER_CouponIssueDTO">
		SELECT COUPON.COUPON_CODE AS coupon_code,
			CISSUE.USER_SEQ AS userSeq,
			COUPON.COUPON_NAME AS coupon_name,
			COUPON.COUPON_OPTION AS coupon_option,
			CISSUE.COUPON_COUNT AS coupon_count,
			CISSUE.COUPON_ISSUEDATE AS coupon_issuedate
		FROM COUPON
		
		INNER JOIN COUPON_ISSUE CISSUE
			ON COUPON.COUPON_CODE = CISSUE.COUPON_CODE 
		WHERE CISSUE.USER_SEQ=#{userSeq} 
	
	</select>
	
	<!-- 마이페이지 주문목록 -->
	<select id="getOrderList" parameterType="string" resultType="CONSUMER_OrderInfoDTO">
		SELECT
			OINFO.ORD_SEQ as ord_seq,
			OITEM.USER_SEQ as user_seq,
			OITEM.ITEM_SEQ as item_seq,
			MINFO.MENU_NAME as menu_name,
			OINFO.ORD_SUMPRICE as ord_sumprice,
			OINFO.ORD_WAY as ord_way,
			OINFO.BUY_WAY as buy_way,
			OINFO.ORD_DATE as ord_date
		FROM ORDER_INFO OINFO
		
		INNER JOIN ORDER_ITEM OITEM
			ON OINFO.ITEM_SEQ=OITEM.ITEM_SEQ
		INNER JOIN MENU_INFO MINFO
			ON OITEM.MENU_SEQ=MINFO.MENU_SEQ
		WHERE OITEM.USER_SEQ=#{userSeq};
	
	</select>
	
	<!-- 마이페이지 관심매장 -->
	<select id="getFavoriteFt" parameterType="string" resultType="CONSUMER_FtLikeDTO">
		SELECT
			FLIKE.FT_SEQ as ft_seq,
			FLIKE.USER_SEQ as user_seq,
			FINFO.FT_NAME as ft_name,
			FLIKE.LIKE_REGDATE as like_regdate
		FROM FT_INFO FINFO
		
		INNER JOIN FT_LIKE FLIKE
			ON FINFO.FT_SEQ=FLIKE.FT_SEQ
		WHERE FLIKE.USER_SEQ=#{userSeq}
	</select>

</mapper>