<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->

<mapper namespace="poly.persistance.mapper.SELLER_OrderMapper">
	<!-- 주문서 작성 userSEQ -->
	<select id="getOrderUserDTO" parameterType="CMMN_UserDTO" resultType="CMMN_UserDTO">
		SELECT 
				USER_SEQ as userSeq,
				USER_AUTH as userAuth,
				USER_EMAIL as userEmail,
				USER_NICK as userNick,
				USER_HP as userHp
		FROM	USER_INFO
		WHERE	USER_SEQ = #{userSeq}
	
	</select>
	
	<select id="getOrderList" parameterType="string" resultType="SELLER_OrderInfoDTO">
		SELECT ORD_SEQ AS ord_seq,
			FT_INFO.USER_SEQ AS user_seq,
			ORD_SUMPRICE AS ord_sumprice,
			ORD_WAY AS ord_way,
			ORD_DATE AS ord_date,
			ORD_STATUS AS ord_status,
			BUY_WAY AS buy_way,
			USR_RCV_TIME AS usr_rcv_time,
			RCV_TIME AS rcv_time,
			FT_SEQ AS ft_seq
		FROM ORDER_INFO, FT_INFO
		WHERE ORDER_INFO.USER_SEQ=FT_INFO.USER_SEQ AND FT_INFO.USER_SEQ=#{userSeq}
		ORDER BY ORD_DATE DESC
	</select>


</mapper>