<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->

<mapper namespace="poly.persistance.mapper.SELLER_FtSellerMapper">
	<!--트럭 정보 등록  -->
	<insert id="insertFtSInfo" parameterType="SELLER_FtSellerDTO" useGeneratedKeys="true" keyColumn="id" keyProperty="id" >
	<!-- 오라클 mysql 쓰는법 다름 http://egloos.zum.com/kamsi76/v/377946 일단 상관없음-->
	
	INSERT INTO FT_INFO
	(
		
		FILE_ID,
		SEL_NAME,
		SEL_NO,
		FT_NAME,
		FT_INTRO,
		FT_JOIN,
		FT_OPTIME,
		FT_FUNC,
		FT_STATUS,
		USER_SEQ
		
	)
	VALUES
	(
		
		#{fileId},
		#{selName},
		#{selNo},
		#{ftName},
		#{ftIntro},
		#{ftJoin},
		#{ftOptime},
		#{ftFunc},
		#{ftStatus},
		#{userSeq}
	)
	<!-- 
	<selectKey resultType="string" keyProperty="fileId" order="AFTER">
		SELECT FILE_SEQ.CURRVAL AS FILE_ID FROM DUAL
	</selectKey> 
	-->
	<!-- SELECT LAST_INSERT_ID() 리턴값을 PARAMETERTYPE에 넘겨준 객체에 넘어간다? GETmenuno????
	한결이형한테 물어봐야함  -->
	
		
	</insert>
	<!-- 트럭 이미지 등록  -->
	<insert id="insertftsImg" parameterType="SELLER_ImageDTO" >
	INSERT INTO IMAGE
	(
		FILE_ID,
		FILE_ORGNAME,
		FILE_SEVNAME,
		FILE_PATH
	)	
	VALUES
	(
		#{fileId},
	
		#{fileOrgname},
		#{fileSevname},
		#{filePath}
	)
	
	
	</insert>
	<!-- 등록된 트럭이 있는지 확인  -->
	<select id="getTruckConfig" parameterType="SELLER_FtSellerDTO" resultType="SELLER_FtSellerDTO">
		SELECT	FT_SEQ as ftSeq,
				FT_NAME as ftName,
				SEL_NO 	as selNo
		FROM	FT_INFO
		WHERE	USER_SEQ = #{userSeq}
	</select>
	<!-- 트럭 이미지  -->
	<!-- <select id="getTruckImage" parameterType="SELLER_ImageDTO" resultType="SELLER_ImageDTO">
		SELECT 
				FILE_ID as fileId,
				USER_SEQ as userSeq,
				FILE_ORGNAME as fileOrgname,
				FILE_SEVNAME as fileSevname,
				FILE_PATH as filePath
		FROM	IMAGE
		WHERE	USER_SEQ = #{userSeq}
	</select> -->
	<!-- 트럭 이미지 업데이트  -->
	<!-- <update id="updateTruckImage" parameterType="SELLER_ImageDTO">
		UPDATE IMAGE
		SET 
			FILE_ORGNAME = #{fileOrgname},
			FILE_SEVNAME = #{fileSevname},
			FILE_PATH = #{filePath}
		WHERE
			FILE_ID = #{fileId}
	</update> -->
	
	<!-- 푸트드럭 상권 분석 -->
	<select id="getFtDstctData" parameterType="string" resultType="SELLER_FtDistrictDataDTO">
		SELECT	ROW_NUM AS rowNo,
				BPLC_NUM AS blpcNum,
				SITE_WHL_ADDR AS siteWhlAddr, 
				RDN_WHL_ADDR AS rdnWhlAddr,
				TRD_STATE_NM AS trdStateNm,
				TRIM(X) AS x,
				TRIM(Y) AS y
		FROM	FT_DISTRICT_DATA
		<!-- WHERE 	SITE_WHL_ADDR like '%' || #{keyWord} || '%' or SITE_WHL_ADDR is null -->
		<!-- <![CDATA[ ROWNUM <= 50 ]]> -->
	</select>
	<!-- 매출분석 -->
	<select id="getSalesList" parameterType="SELLER_FtSellerDTO" resultType="SELLER_FtSellerDTO">
		 SELECT
		    W.ORD_DATE as ordDate,
		    U.USER_GENDER as userGender
		  FROM ORDER_WAIT W
		      INNER JOIN ORDER_INFO O
		        ON  W.ORD_SEQ = O.ORD_SEQ
		      INNER JOIN USER_INFO U
		        ON  O.USER_SEQ = U.USER_SEQ
		  WHERE W.FT_SEQ = #{ftSeq}
		  ORDER BY W.ORD_DATE ASC 
		  
	</select>

	<!-- chartWeek 데이터불러오기 -->
	<select id="getChartWeek" parameterType="string" resultType="SELLER_OrderInfoDTO">
		SELECT
			SUM(ORD_SUMPRICE) AS ord_sumprice
		FROM ORDER_INFO
		WHERE ORD_DATE BETWEEN date_add(now(),interval -7 day) 
			AND now() AND ORD_STATUS=1
			AND USER_SEQ=#{userSeq}
	</select>
	
	<select id="getOrderWeek" parameterType="string" resultType="SELLER_OrderInfoDTO">
		SELECT
			ORD_SEQ AS ord_seq,
			USER_SEQ AS user_seq,
			ORD_SUMPRICE AS ord_sumprice,
			ORD_DATE AS ord_date,
			ORD_STATUS AS ord_status
		FROM ORDER_INFO
		WHERE ORD_DATE BETWEEN date_add(now(),interval -7 day) 
			AND now() AND ORD_STATUS=1 
			AND USER_SEQ=#{userSeq}
		ORDER BY ORD_DATE DESC
	</select>
	<!-- 월별 매출 차트 불러오기 -->
	<select id="getMonthChart" parameterType="SELLER_FtSellerDTO" resultType="SELLER_OrderInfoDTO">
		SELECT 
		  SUM(ORD_SUMPRICE) AS ord_sumprice,
		  SUBSTR(ORD_DATE,4,2) AS ord_date
		FROM ORDER_INFO
		WHERE FT_SEQ = #{ftSeq} AND ORD_DATE LIKE '18%'
		GROUP BY SUBSTR(ORD_DATE,4,2)
		ORDER BY SUBSTR(ORD_DATE,4,2) ASC
	</select>
	<!-- 최근 7일간 매출 차트 불러오기 -->
	<select id="latelyWeek" parameterType="SELLER_FtSellerDTO" resultType="SELLER_OrderInfoDTO">
	SELECT 
        SUM(ORD_SUMPRICE) AS ord_sumprice,
        SUBSTR(ORD_DATE,1,8) AS ord_date
      FROM ORDER_INFO
      WHERE FT_SEQ=#{ftSeq} AND ORD_DATE BETWEEN date_add(now(),interval -7 day) 
         AND now()
      GROUP BY SUBSTR(ORD_DATE,1,8)
      ORDER BY SUBSTR(ORD_DATE,1,8) ASC
	</select>
	<!-- 7일 매출 0 insert  -->
	<insert id="insertwList" parameterType="SELLER_FtSellerDTO">
		INSERT INTO ORDER_INFO
		(ORD_SEQ, USER_SEQ, ORD_SUMPRICE, ORD_DATE, ORD_STATUS,FT_SEQ)
		VALUES
		( null, -10, 0, CURDATE()- INTERVAL 6 DAY, 1,#{ftSeq}),
		( null, -10, 0, CURDATE()- INTERVAL 5 DAY, 1,#{ftSeq}),
		( null, -10, 0, CURDATE()- INTERVAL 4 DAY, 1,#{ftSeq}),
		( null, -10, 0, CURDATE()- INTERVAL 3 DAY, 1,#{ftSeq}),
		( null, -10, 0, CURDATE()- INTERVAL 2 DAY, 1,#{ftSeq}),
		( null, -10, 0, CURDATE()- INTERVAL 1 DAY, 1,#{ftSeq}),
		( null, -10, 0, CURDATE()- INTERVAL 0 DAY, 1,#{ftSeq})
	</insert>
	
</mapper>