<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ADMIN_Ft_InfoMapper">
	<select id="getFT_InfoList" resultType="ADMIN_Ft_InfoDTO">
		SELECT 
			FT_SEQ,
			USER_SEQ,
			FILE_ID,
			SEL_NAME,
			SEL_NO,
			FT_NAME,
			FT_INTRO,
			FT_LOC,
			FT_JOIN,
			FT_OPTIME,
			FT_FUNC,
			FT_CHAN,
			FT_STATUS,
			FT_REGCODE
		FROM FT_INFO
	</select>
	
	<select id="getFT_Search" parameterType="ADMIN_Ft_InfoDTO" resultType="ADMIN_Ft_InfoDTO">
		SELECT
			FT_SEQ,
			USER_SEQ,
			FILE_ID,
			SEL_NAME,
			SEL_NO,
			FT_NAME,
			FT_INTRO,
			FT_LOC,
			FT_JOIN,
			FT_OPTIME,
			FT_FUNC,
			FT_CHAN,
			FT_STATUS,
			FT_REGCODE
		FROM FT_INFO
		WHERE ${option} LIKE '%'||#{value}||'%'
	</select>
	
	<update id="ft_Active" parameterType="ADMIN_Ft_InfoDTO">
			UPDATE FT_INFO SET
				FT_CHAN=#{ft_chan},
				FT_STATUS=#{ft_status}
				WHERE FT_SEQ=#{ft_seq}
	</update>
	
	<update id="ft_Drop" parameterType="ADMIN_Ft_InfoDTO">
			UPDATE FT_INFO SET
				FT_CHAN=#{ft_chan},
				FT_STATUS=#{ft_status}
				WHERE FT_SEQ=#{ft_seq}
	</update>
	
	<select id="getFT_Info" parameterType="integer" resultType="ADMIN_Ft_InfoDTO">
		SELECT * FROM FT_INFO WHERE FT_SEQ = #{ft_seq}
	</select>
	
	<update id="ft_Info_Edit" parameterType="ADMIN_Ft_InfoDTO">
			UPDATE FT_INFO SET
				FILE_ID=#{file_id},
				SEL_NAME=#{sel_name},
				SEL_NO=#{sel_no},
				FT_NAME=#{ft_name},
				FT_INTRO=#{ft_intro},
				FT_LOC=#{ft_loc},
				FT_OPTIME=#{ft_optime},
				FT_FUNC=#{ft_func},
				FT_CHAN=#{ft_chan},
				FT_STATUS=#{ft_status}
			WHERE FT_SEQ=#{ft_seq}
	</update>
</mapper>