<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ADMIN_Ft_Menu_CateMapper">
	<select id="getFT_Cate_List" parameterType="integer" resultType="ADMIN_Ft_Menu_CateDTO">
		SELECT 
			FT_SEQ,
			CATE_SORT_NO,
			CATE_NAME,
			EXP_YN
		FROM FT_MENU_CATE WHERE FT_SEQ=#{ft_seq} ORDER BY CATE_SORT_NO ASC
	</select>
	
	<select id="getFt_Cate_Info" parameterType="ADMIN_Ft_Menu_CateDTO" resultType="ADMIN_Ft_Menu_CateDTO">
		SELECT 
			FT_SEQ,
			CATE_SORT_NO,
			CATE_NAME,
			EXP_YN
		FROM FT_MENU_CATE WHERE FT_SEQ=#{ft_seq} AND CATE_SORT_NO=#{cate_sort_no}
	</select>
	
	<insert id="ft_Cate_Create" parameterType="ADMIN_Ft_Menu_CateDTO">
		INSERT INTO FT_MENU_CATE
		(
			FT_SEQ,
			CATE_SORT_NO,
			CATE_NAME,
			EXP_YN
		)
		VALUES
		(
			#{ft_seq},
			#{cate_sort_no},
			#{cate_name},
		    #{exp_yn}
		)
	</insert>
	
	<update id="ft_Cate_Edit" parameterType="ADMIN_Ft_Menu_CateDTO" >
		UPDATE FT_MENU_CATE SET
			CATE_NAME=#{cate_name},
			EXP_YN=#{exp_yn}
		WHERE FT_SEQ=#{ft_seq} AND CATE_SORT_NO=#{cate_sort_no}
	</update>
	
	<delete id="ft_Cate_Delete" parameterType="ADMIN_Ft_Menu_CateDTO">
		DELETE FROM FT_MENU_CATE WHERE FT_SEQ=#{ft_seq} AND CATE_SORT_NO=#{cate_sort_no} 
	</delete>
	
	<update id="ft_Cate_Sort" parameterType="ADMIN_Ft_Menu_CateDTO">
		UPDATE FT_MENU_CATE SET
		CATE_SORT_NO=#{edit_cate_sort_no}
		WHERE FT_SEQ=#{ft_seq} AND CATE_SORT_NO=#{cate_sort_no}
		
	</update>
</mapper>